{
  {{- if .System }}
  "system": {
    {{- template "srlsystem" .System}}
  },
  {{- end }}
  {{- if ne 0 (len .Interfaces)}}
  "interface": [
  {{- range $index, $interface := .Interfaces}}
    {{- if $index}},{{- end}}
    {
      {{- template "srlinterface" .}}
    }
  {{- end}}
  ]{{if ne 0 (len $.NetworkInstances)}},{{end}}
  {{- end}}
  {{- if ne 0 (len $.NetworkInstances)}}
  "network-instance": [
  {{- range $index, $ni := .NetworkInstances}}
    {{- if $index}},{{- end}}
    {
      {{- template "srlnetworkinstance" .}}
    }
  {{- end}}
  ]{{if or (ne 0 (len $.RoutingPolicies)) (ne 0 (len $.TunnelInterfaces)) }},{{end}}
  {{- end}}
  {{- if ne 0 (len $.RoutingPolicies)}}
  "routing-policy": {
      {{- template "srlroutingpolicy" .}}
  },
  {{- end}}
  {{- if ne 0 (len $.TunnelInterfaces)}}
  "tunnel-interface": [
  {{- range $index, $interface := .TunnelInterfaces}}
    {{- if $index}},{{- end}}
    {
      {{- template "srltunnelinterface" .}}
    }
  {{- end}}
  ]
  {{- end}}
}