  {{define "srlnetworkinstancebgp"}}
          "admin-state": "enable",
          "autonomous-system": {{.AS}},
          "router-id": "{{.RouterID}}",
        {{- if .DynamicNeighbors }}
          "dynamic-neighbors": {
            "accept": {
              "match": [
           {{- range $index, $prefix := .DynamicNeighbors.Prefixes }}
              {{- if $index}},{{- end}}
                {
                  "prefix": "{{ $prefix }}",
                  "peer-group": "{{ $.DynamicNeighbors.PeerGroup }}",
                  "allowed-peer-as": [
                    "{{$.DynamicNeighbors.PeerAS}}"
                  ]
                }
           {{- end }}
              ]
            },
            "interface": [
          {{- range $index, $element := .DynamicNeighbors.Interfaces }}
              {{- if $index}},{{- end}}
              {
                {{- template "srlnetworkinstancebgpneighbordynamic" .}}
              }
          {{- end}}
            ]
          },
        {{- end}}
          "preference": {
              "ebgp": 100,
              "ibgp": 170
          },
          "ebgp-default-policy": {
            "import-reject-all": false,
            "export-reject-all": false
            },
          "afi-safi": [
        {{- range $index, $af := .AddressFamilies}}
          {{- if $index}},{{- end}}
            {
              "afi-safi-name": "{{ $af.Name }}",
              "admin-state": "enable"
          {{- if or (eq $af.Name "ipv4-unicast") (eq $af.Name "ipv6-unicast")}}
              ,
              "multipath": {
                "allow-multiple-as": true,
                "max-paths-level-1": 64,
                "max-paths-level-2": 64
              }
          {{- end }}
          {{- if $af.RFC5549 }}
              ,
              "ipv4-unicast": {
                "advertise-ipv6-next-hops": true,
                "receive-ipv6-next-hops": true
              }
          {{- end }}
            }
        {{- end }}
          ],
          "group": [
        {{- range $index, $element := .PeerGroups}}
           {{- if $index}},{{- end}}
            {
              {{- template "srlnetworkinstancebgppeergroup" .}}
            }
        {{- end }}
          ],
          "neighbor":[
        {{- range $index, $element := .Neighbors}}
          {{- if $index}},{{- end}}
            {
              {{- template "srlnetworkinstancebgpneighbor" .}}
            }
        {{- end}}
          ]
{{- end}}