  {{define "srlnetworkinstancebgppeergroup"}}
              "group-name": "{{.Name}}",
              "export-policy": "{{.Name}}",
              "admin-state": "enable",
              "next-hop-self": true
        {{- if ne 0 (len .AddressFamilies)}}
              ,
              "afi-safi": [
              {{- range $index, $af := .AddressFamilies}}
                {{- if $index}},{{- end}}
                {
                  "afi-safi-name": "{{ $af.Name }}",
                  "admin-state": "disable"
                }
              {{- end }}
              ]
        {{- end }}
        {{- if .RouteReflector }}
              ,
              "route-reflector": {
                "client": true,
                "cluster-id": "{{ .RouteReflector.ClusterID }}"
              }
        {{- end }}
        {{- if .BFD }}
              ,
              "failure-detection": {
                "enable-bfd": true
              }
        {{- end }}
{{- end}}