{{define "srlnetworkinstanceospf"}}
      {{- if ne 0 (len .Instances)}}
          "instance": [
        {{- range $index, $instance := .Instances}}
            {{- if $index}},{{- end}}
            {
              {{- template "srlnetworkinstanceospfinstance" $instance}}
            }
        {{- end}}
          ]
      {{- end }}
{{- end}}