{{define "srlnetworkinstancebgpneighbordynamic"}}
              "name": "{{ .Name }}",
              "peer-group": "{{ .PeerGroup }}",
              "allowed-peer-as": [
                  "{{ .PeerAS }}"
              ]
{{- end}}