{{define "srlnetworkinstancebgpneighbordynamic"}}
              "interface-name": "{{ (ifName .SubInterfaceName.Name) }}.{{ .SubInterfaceName.ID}}",
              "peer-group": "{{ .PeerGroup }}",
              "allowed-peer-as": [
                  "{{ .PeerAS }}"
              ]
{{- end}}