{{define "srlbfd"}}
{{- if ne 0 (len .Interfaces)}}
      "subinterface": [
    {{- range $index, $itfce := .Interfaces }}
    {{- if $index}},{{- end}}
       {
        "id": "{{ (ifName $itfce.SubInterfaceName.Name) }}.{{ $itfce.SubInterfaceName.ID}}"
      {{- if (derefBool $itfce.BFDLinkParameters.Enabled) }}
        ,
        "admin-state": "enable"
      {{- else }}
        ,
        "admin-state": "disable"
      {{- end }}
      {{- if ne (derefUint32 $itfce.BFDLinkParameters.MinEchoRx) 0 }}
        ,
        "minimum-echo-receive-interval": {{ (derefUint32 $itfce.BFDLinkParameters.MinEchoRx) }}
      {{- end }}
      {{- if ne (derefUint32 $itfce.BFDLinkParameters.MinRx) 0 }}
        ,
        "required-minimum-receive": {{ (derefUint32 $itfce.BFDLinkParameters.MinRx) }}
      {{- end }}
      {{- if ne (derefUint32 $itfce.BFDLinkParameters.MinTx) 0 }}
        ,
        "desired-minimum-transmit-interval": {{ (derefUint32 $itfce.BFDLinkParameters.MinTx) }}
      {{- end }}
      {{- if ne (derefUint32 $itfce.BFDLinkParameters.Multiplier) 0 }}
        ,
        "detection-multiplier": {{ (derefUint32 $itfce.BFDLinkParameters.Multiplier) }}
      {{- end }}
      {{- if ne (derefUint32 $itfce.BFDLinkParameters.TTL) 0 }}
        ,
        "max-hop-count": {{ (derefUint32 $itfce.BFDLinkParameters.TTL) }}
      {{- end }}
       }
    {{- end }}
      ]
{{- end }}
{{- end}}