{{define "srlnetworkinstanceospfinstanceareainterface"}}
                      "interface-name": "{{ (ifName .SubInterfaceName.Name) }}.{{ .SubInterfaceName.ID}}",
                      "admin-state": "enable",
            {{- if .Passive }}
                      "passive": {{.Passive}}
            {{- else }}
                      "interface-type": "{{ (networkType .NetworkType) }}"
            {{- end }}
            {{- if .BFD }}
                      ,
                      "failure-detection": {
                        "enable-bfd": true
                      }
            {{- end }}
{{- end}}